@font-face {
  font-family: Radikal;
  src:
    url(./radikal/Radikal-Medium.woff2) format('woff2'),
    url(./radikal/Radikal-Medium.woff) format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Radikal;
  src:
    url(./radikal/Radikal.woff2) format('woff2'),
    url(./radikal/Radikal.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Radikal;
  src:
    url(./radikal/Radikal-Light.woff2) format('woff2'),
    url(./radikal/Radikal-Light.woff) format('woff');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: Canoodle;
  src:
    url(./canoodle/DK-Canoodle.woff2) format('woff2'),
    url(./canoodle/DK-Canoodle.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}
