/*--------------ALGEMEEN-----------------*/

.beeld__tekst::before {
  content: '';
  z-index: -1;
  background-size: 113%;
  background-image: url(./../assets/img/bg/detail_100.png);
  position: absolute;
  background-repeat: no-repeat;
  background-position: -4rem 1rem;
  margin-left: -1rem;
  margin-top: -9rem;
  width: 100%;
  height: 85%;

  @media (--md) {
    display: none;
  }
}

.detail__prog {
  position: absolute;
  z-index: -1;
  overflow: hidden;
  background-repeat: no-repeat;
  width: 100%;

  @media (--md) {
    height: 71rem;
    top: 4rem;
    background-size: 104%;
    background-image: url(./../assets/img/bg/3_100.png);
    /* background-image: url(./../assets/img/bg/3_100.webp); */
    background-position: -2rem 2rem;
  }

  @media (--lg) {
    height: 70rem;
    top: 0;
    background-size: 104%;
    background-image: url(./../assets/img/bg/2_100.png);
    /* background-image: url(./../assets/img/bg/2_100.webp); */
    background-position: -4rem -1rem;
  }

  @media (--xl) {
    height: 160rem;
    background-size: 104%;
    background-image: url(./../assets/img/bg/1_100.png);
    /* background-image: url(./../assets/img/bg/1_100.webp); */
    background-position: -5rem -3rem;
  }
}

.terug {
  color: var(--background-color);

  @media (--lg) {
    font-size: 1.8rem;
    color: var(--color-accent);
    background-color: var(--background-color);
    height: 12rem;
    display: flex;
    align-items: center;
  }
}

.terug::before {
  content: '\2190';
  margin-right: 3rem;
}

.detail__terug {
  background-color: var(--color-accent);
  width: 100%;
  height: 7rem;
  display: flex;
  align-items: center;

  @media (--lg) {
    width: 34%;
  }

  @media (--xl) {
    width: 29%;
  }
}

.detail__lijn {
  background-image: linear-gradient(0deg, #3e9798 50%, #3e9798 50%);
  background-repeat: no-repeat;
  background-size: 8rem .4rem;
  background-position: 0 101%;
  width: 28rem;
  height: 6rem;

  @media (--md) {
    background-size: 17rem .5rem;
    width: 47rem;
  }

  @media (--lg) {
    width: 48rem;
    height: 6.3rem;
  }

  @media (--xl) {
    background-size: 13rem .5rem;
    height: 8rem;
    width: 128rem;
  }
}

.detail__tekst {
  height: 50rem;
}

.beeldmateriaal__lijn {
  @media (--md) {
    height: 6rem;
  }

  @media (--xl) {
    height: 8rem;
  }
}
/*--------------INTRO-----------------*/

.detail__header {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 121rem;
  padding-top: 9rem;

  @media (--md) {
    justify-content: flex-start;
    width: 100%;
    height: 81rem;
  }

  @media (--lg) {
    padding-top: 3rem;
    height: 80rem;
  }

  @media (--xl) {
    height: 90rem;
  }
}

.informatie__mobile {
  display: block;
  background-color: var(--background-color);
  height: 12rem;
  width: 87%;
  text-align: center;
  padding-top: 2rem;
  align-self: center;

  @media (--md) {
    display: none;
  }
}

.facebook,
.aanwezig__li {
  background-color: var(--color-light);
  padding: 2rem;
}

.aanwezig__li {
  display: flex;
}

.facebook__link {
  display: flex;
  align-items: center;
  width: 24rem;
  height: 6rem;
  margin: 4rem 0;

  @media (--md) {
    width: 23rem;
  }

  @media (--lg) {
    width: 27rem;
  }

  @media (--xl) {
    width: 33rem;
  }
}

.aanwezig {
  width: 24rem;
  height: 5rem;
  background-color: var(--background-color);
  color: var(--color-light);
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  @media (--md) {
    width: 23rem;
  }

  @media (--lg) {
    width: 27rem;
  }

  @media (--xl) {
    width: 33rem;
  }
}

.detail__link {
  text-decoration: none;
}

.detail__informatie {
  display: flex;
  flex-flow: column-reverse;
  justify-content: flex-start;
  height: 105rem;

  @media (--md) {
    display: flex;
    flex-flow: row;
    align-items: center;
    width: 100%;
    height: 61rem;
    padding-top: 6rem;
  }

  @media (--xl) {
    height: 78rem;
    padding-top: 0;
    align-items: flex-start;
  }
}

.detail__omschrijving {
  width: 28rem;
  line-height: 3.9rem;
  margin-top: 2.2rem;
  margin-bottom: 1.5rem;
  height: 27rem;
  overflow: scroll;

  @media (--md) {
    width: 33rem;
    height: 100%;
    overflow: none;
  }

  @media (--lg) {
    line-height: 4.4rem;
    /* height: 18rem; */
    width: 46rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  @media (--xl) {
    width: 61rem;
    height: 50rem;
  }
}

.beeld__titel {
  color: var(--color-light);
  margin-top: 5rem;
}

.beeld__titel::before {
  content: '\2015';
  width: 4rem;
  height: 2rem;
  color: var(--color-light);
  margin-right: 1rem;
}

.beeld__tekst {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  margin: 5rem auto;

  @media (--md) {
    margin: 0;
    height: 90%;
  }

  @media (--xl) {
    padding-top: 6rem;
  }
}

.beeld__groot {
  width: 60%;
  margin-top: 3rem;

  @media (--md) {
    margin-top: 0;
  }
}

.detail__bekijkmeer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 20rem;
  width: 30rem;
  z-index: -1;
  cursor: pointer;

  @media (--md) {
    display: none;
  }
}

.bekijkmeer {
  padding: 2rem;
  margin: -2rem;
  color: var(--primary-color);
}

/*--------------PRAKTISCH-----------------*/

.praktisch {
  height: 83rem;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding-top: 5rem;
  padding-bottom: 5rem;

  @media (--md) {
    height: 57rem;
    padding-bottom: 0;
  }

  @media (--lg) {
    height: 56rem;
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
  }

  @media (--xl) {
    height: 56rem;
    justify-content: center;
  }
}

.praktisch__subtitel {
  color: var(--color-light);
}

.praktisch__wrapper {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 95vw;
  height: 40rem;
  padding-bottom: 4rem;

  @media (--md) {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 80vw;
    padding-top: 4rem;
    padding-bottom: 4rem;
    height: 25rem;
  }

  @media (--lg) {
    display: flex;
    flex-flow: column;
    width: 34vw;
    height: 47rem;
  }

  @media (--xl) {
    height: 54rem;
    width: 57rem;
    justify-content: space-between;
  }
}

.detail__praktisch {
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: var(--primary-color);
  height: 103rem;

  @media (--md) {
    height: 77rem;
  }

  @media (--lg) {
    height: 76rem;
  }

  @media (--xl) {
    height: 92rem;
  }
}

.praktisch__datum,
.praktisch__tijdstip,
.praktisch__locatie {
  display: flex;
}

.praktisch__datum article,
.praktisch__tijdstip article,
.praktisch__locatie article {
  width: 18rem;
}

.praktisch__icon {
  width: 10rem;
  opacity: .2;

  @media (--md) {
    width: 7rem;
  }

  @media (--lg) {
    width: 9rem;
  }
}

.praktisch__img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  object-position: 50% 50%;
  /* clip- ath: polygon(0 0, 100% 0, 100% 65%, 0 65%); */
}

/*--------------BEELDMATERIAAL-----------------*/

.beeld__headerimage {
  overflow: hidden;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.beeld__headerimg {
  width: 30rem;
  height: 30rem;
  object-fit: cover;
  object-position: 50% 50%;

  @media (--md) {
    width: 38rem;
    height: 38rem;
    /* margin-top: 5rem;
    margin-right: 5rem; */
  }

  @media (--lg) {
    width: 48rem;
    height: 48rem;
    /* margin-top: 5rem;
    margin-right: 5rem; */
  }

  @media (--xl) {
    width: 70rem;
    height: 60rem;
    /* margin-top: 5rem;
    margin-right: 5rem; */
  }
}

.beeldmateriaal {
  overflow: auto;
  height: 75rem;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  padding-top: 8rem;
  padding-bottom: 5rem;

  @media (--md) {
    height: 89rem;
  }

  @media (--lg) {
    height: 81rem;
  }

  @media (--xl) {
    height: 91rem;
  }
}

.beeldmateriaal__wrapper {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  height: 60rem;
  padding-top: 1rem;

  @media (--md) {
    height: 65rem;
  }

  @media (--lg) {
    flex-flow: row;
    height: 55rem;
  }

  @media (--xl) {
    height: 65rem;
  }
}

.kaartje__img {
  overflow: hidden;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grootbeeld__img {
  overflow: hidden;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.kaartje__image {
  width: 100%;
  height: 40rem;
  overflow: hidden;
  padding-right: 0;

  @media (--md) {
    height: 40rem;
  }

  @media (--lg) {
    width: 60vw;
    height: 46rem;
    padding-right: 4rem;
  }

  @media (--xl) {
    height: 50rem;
    width: 69rem;
    padding-right: 6rem;
  }
}

.grootbeeld__image {
  width: 100%;
  /* overflow: hidden; */
  height: 40rem;

  @media (--md) {
    height: 42rem;
  }

  @media (--lg) {
    width: 223vw;
    height: 55rem;
  }

  @media (--xl) {
    width: ;
    height: 65rem;
  }
}

.beeld__img {
  max-height: 160px;
  max-width: 6.5rem;

  @media (--md) {
    height: 167px;
    max-width: 79rem;
  }
}

.beeld__li {
  float: left;
  margin: 0 10px 0 0;

  @media (--md) {
    margin: 0 17px 0 0;
  }
}

.beeld__ul {
  @media (--md) {
    overflow: auto;
    padding-top: 1rem;
    height: 22rem;
  }

  @media (--lg) {
    height: 55rem;
    overflow: auto;
    padding-left: 1rem;
  }

  @media (--xl) {
    height: 65rem;
  }
}
/*--------------SOCIAL-----------------*/

.socials {
  height: 24rem;
  margin: 2rem auto 5rem;

  @media (--md) {
    margin: 0 auto 5rem;
  }

  @media (--lg) {
    margin: 5rem auto;
  }
}

.detail__socials {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  width: 20rem;
  height: 20rem;
  overflow: hidden;
}

.socials__media {
  display: flex;
  justify-content: space-between;
  background-size: 50%;
  width: 20rem;
  height: 6rem;
}

.social__link {
  color: var(--primary-color);
}

.ontdek {
  width: 22rem;

  @media (--lg) {
    width: 24rem;
  }

  @media (--xl) {
    width: 29rem;
  }
}

/*--------------OOKOP-----------------*/

.ookop {
  height: 140rem;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding-top: 8rem;
  padding-bottom: 5rem;

  @media (--md) {
    height: 61rem;
    padding-top: 1rem;
  }

  @media (--lg) {
    height: 63rem;
  }

  @media (--xl) {
    height: 66rem;
  }
}

.ookop__section {
  display: grid;
  grid-area: content;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 4rem;
  justify-self: space-between;
  padding-bottom: 2rem;

  @media (--md) {
    justify-self: center;
  }

  @media (--xl) {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 4rem;
  }
}

.ookop__article:nth-last-of-type(4) {
  display: none;

  @media (--xl) {
    display: block;
  }
}

.ookop__article:nth-child(2) {
  display: block;

  @media (--md) {
    display: none;
  }

  @media (--lg) {
    display: block;
  }
}

.ookop__image {
  position: absolute;
  width: 30rem;
  height: 20rem;
  overflow: hidden;
  border-radius: .5rem;
  object-fit: cover;
  text-align: center;
  z-index: -1;

  @media (--md) {
    width: 35.2rem;
  }

  @media (--lg) {
    width: 31rem;
  }

  @media (--xl) {
    width: 32rem;
  }
}

.ontdekking {
  align-self: center;
}
