/*--------------ALGEMEEN-----------------*/

.detail__praktisch {
  background-color: var(--primary-color);
}

.terug {
  color: var(--background-color);
}

.terug::before {
  content: '\2190';
  margin-right: 3rem;
}

.detail__terug {
  background-color: var(--color-accent);
  width: 20rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail__lijn {
  background-image: linear-gradient(0deg, #3e9798 50%, #3e9798 50%);
  background-repeat: no-repeat;
  background-size: 47% .4rem;
  background-position: 0 101%;
  width: 20rem;
  height: 4rem;
}
/*--------------INTRO-----------------*/

.detail__informatie {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60rem;
}

.detail__omschrijving {
  width: 27rem;
  line-height: 2.8rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.beeld__titel {
  color: var(--color-light);
}

.beeld__titel::before {
  content: '\2015';
  width: 4rem;
  height: 2rem;
  color: var(--color-light);
  margin-right: 1rem;
}

.beeld__tekst {
  width: 40%;
}

.beeld__groot {
  width: 60%;
  padding-left: 10rem;
}

.beeld__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  margin-right: 5rem;
  margin-top: 5rem;
}

.detail__bekijkmeer {
  display: flex;
  justify-content: space-between;
  height: 10rem;
}
/*--------------PRAKTISCH-----------------*/

.praktisch {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.praktisch__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 40rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.detail__praktisch {
  height: 70rem;
}

.praktisch__datum::before,
.praktisch__tijdstip::before,
.praktisch__locatie::before {
  content: '';
  background-size: 30%;
  width: 10rem;
  height: 5rem;
  background-color: var(--background-color);
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  display: inline-block;
  justify-content: center;
}

.praktisch__img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  object-position: 50% 50%;
  /* clip- ath: polygon(0 0, 100% 0, 100% 65%, 0 65%); */
}

.praktisch__datum::before {
  background-image: url(./../assets/img/icons/calender.svg);
}

.praktisch__tijdstip::before {
  background-image: url(./../assets/img/icons/time.svg);
}

.praktisch__locatie::before {
  background-image: url(./../assets/img/icons/locatie.svg);
}

/*--------------BEELDMATERIAAL-----------------*/

.beeldmateriaal {
  border-top: 1px solid #ccc;
  overflow: auto;
  height: 70rem;
}

.beeld__image {
  width: 450px;
  position: relative;
  float: left;
}

.beeld__li {
  float: left;
  margin: 0 10px 0 0;
}
/*--------------SOCIAL-----------------*/

.socials {
  height: 40rem;
}

.detail__socials {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  width: 20rem;
  height: 18rem;
}

.socials__media {
  display: flex;
  justify-content: space-between;
  background-size: 50%;
  width: 20rem;
  background-color: var(--primary-color);
}

.social__link {
  color: var(--primary-color);
}

/*--------------OOKOP-----------------*/

.ookop {
  height: 80rem;
}
