/*-------HEADER--------*/

.home__header {
  overflow: hidden;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: center;
  height: 150vw;
  align-items: flex-end;
  background-image: url(./../assets/img/header/header4_100.png);
  background-image:
    -webkit-image-set(
      url(./../assets/img/header/header4_100.webp) 1x
    );
  background-position-y: 0;

  @media (--md) {
    height: 78vw;
    align-items: flex-end;
    background-size: 104%;
    background-image: url(./../assets/img/header/header3_100.webp);
    background-image:
      -webkit-image-set(
        url(./../assets/img/header/header3_100.webp) 1x
      );
    background-position: -2rem 0;
    padding-bottom: 6rem;
  }

  @media (--lg) {
    height: 70vw;
    background-size: 108%;
    background-image: url(./../assets/img/header/header2_100.webp);
    background-image:
      -webkit-image-set(
        url(./../assets/img/header/header2_100.webp) 1x
      );
    background-position: -4rem -11rem;
  }

  @media (--xl) {
    height: 55vw;
    background-size: 103%;
    background-image: url(./../assets/img/header/header1_100.webp);
    background-image:
      -webkit-image-set(
        url(./../assets/img/header/header1_100.webp) 1x
      );
    background-position: -3rem -9rem;
  }
}

.header__cta__mobile {
  text-decoration: none;
}

.header__mobile {
  color: var(--background-color);
  width: 100vw;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--color-accent);

  @media (--md) {
    width: 26rem;
    font-size: 1.7rem;
  }
}

.header__mobile::after {
  content: '\2192';
  color: var(--background-color);
}

.header__cta {
  display: none;
}

@media (--lg) {

  .header__hidden {
    display: none;
  }

  .header__cta__mobile {
    display: none;
  }

  .header__cta {
    display: block;
    color: var(--primary-color);
    text-align: center;
    cursor: pointer;
  }

  .header__cta::before {
    content: '\2197';
    display: inline-block;
    font-size: 6vw;
    font-weight: bold;
    will-change: transform;
    transform: rotate(135deg);
  }
}
/*-------------------SPEKTAKEL--------------------*/

.spektakel__naam {
  font-size: 4rem;
}

.spektakel {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  height: 107rem;

  @media (--md) {
    height: 65rem;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 10rem;
  }

  @media (--lg) {
    height: 75rem;
  }

  @media (--xl) {
    height: 100rem;
  }
}

.hide__mobile {
  visibility: hidden;

  @media (--md) {
    display: block;
  }
}

.spektakel__groep {
  display: flex;
  flex-flow: column;

  @media (--md) {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row;
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  @media (--lg) {
    justify-content: space-between;
  }

  @media (--xl) {
    justify-content: space-between;
  }
}

.spektakel__lijn {
  border-left: .2rem solid var(--color-accent);
  padding-left: 2rem;
  width: 100%;

  @media (--md) {
    width: 52.6rem;
    padding-left: 4rem;
  }

  @media (--lg) {
    padding-left: 3rem;
    width: 57rem;
  }

  @media (--xl) {
    width: 80rem;
    padding-left: 8rem;
  }
}

.spektakel__content {
  display: flex;
  flex-flow: column;
  align-items: center;

  @media (--md) {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }
}

.spektakel__article {
  position: relative;
  width: 30rem;
  height: 30rem;
  overflow: hidden;
  margin: .5rem;

  @media (--md) {
    width: 36.3rem;
    height: 20rem;
    margin: 1rem;
  }

  @media (--lg) {
    width: 32rem;
  }

  @media (--xl) {
    width: 46rem;
    height: 30rem;
    margin: 1rem;
  }
}

.spektakel__article:nth-last-of-type(3) {
  display: none;

  @media (--lg) {
    display: block;
  }
}

.spektakel__image {
  opacity: 1;
  display: block;
  width: 100%;
  height: 30rem;
  object-fit: cover;
  transition: .5s ease;
  backface-visibility: hidden;

  @media (--md) {
    height: 20rem;
  }

  @media (--xl) {
    height: 30rem;
  }
}

.spektakel__article:hover .spektakel__image {
  opacity: .3;
}

.spektakel__link {
  text-decoration: none;
}

.spektakel__link:hover {
  color: var(--color-accent);
}

.spektakel__hover {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20rem;
  will-change: transform;
  transform: translate(-50%, -50%);
  text-align: center;
}

.spektakel__article:hover .spektakel__hover {
  opacity: 1;
}

/*-------------------FAMILIEDAG--------------------*/

.familiedag {
  height: 82rem;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;

  @media (--lg) {
    height: 56vh;
  }

  @media (--xl) {
    height: 62vh;
  }
}

.home__familiedag {
  display: flex;
  justify-content: space-between;

  @media (--md) {
    height: 50rem;
  }

  @media (--xl) {
    height: 56rem;
  }
}

.familiedag__lijn {
  color: var(--background-color);
  background-image: linear-gradient(0deg, #e9bf4e 50%, #e9bf4e 50%);
  background-repeat: no-repeat;
  background-size: 47% .4rem;
  background-position: 0 101%;
  width: 20rem;
  height: 6.5rem;

  @media (--md) {
    color: var(--background-color);
    background-image: linear-gradient(0deg, #e9bf4e 50%, #e9bf4e 50%);
    background-repeat: no-repeat;
    background-size: 47% .4rem;
    background-position: 0 101%;
    width: 20rem;
    height: 8rem;
  }

  @media (--xl) {
    height: 12rem;
  }
}

.familiedag__info {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 49rem;

  @media (--md) {
    justify-content: space-evenly;
    height: 100%;
  }

  @media (--lg) {
    justify-content: space-between;
  }
}

.familiedag__img {
  overflow: hidden;

  @media (--xl) {
    width: 40vw;
  }
}

.familiedag__image {
  width: 40vw;
  display: none;
  overflow: hidden;
  object-fit: cover;

  @media (--md) {
    display: block;
    height: 100%;
  }

  @media (--xl) {
    width: 40vw;
    height: 38vh;
  }
}

.familiedag__tekst {
  width: 30rem;

  @media (--md) {
    width: 32.9rem;
  }

  @media (--lg) {
    width: 44rem;
    margin-right: 5rem;
  }

  @media (--xl) {
    width: 69rem;
    margin-right: 10rem;
  }
}

/*-------NIEUWSBRIEF--------*/

.nieuwsbrief {
  height: 82rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: left;

  @media (--md) {
    flex-flow: row;
    align-items: flex-end;
  }

  @media (--lg) {
    height: 51vh;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }

  @media (--xl) {
    height: 66vh;
  }
}

.nieuwsbrief__titel {
  overflow: hidden;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: center;
  height: 233vw;
  align-items: flex-end;
  background-image: url(./../assets/img/bg/nieuwsbrief4_100.webp);
  background-position: -4rem -5rem;
  position: absolute;
  z-index: -1;

  @media (--md) {
    height: 59vw;
    align-items: flex-end;
    background-size: 104%;
    background-image: url(./../assets/img/bg/nieuwsbrief3_100.webp);
    background-position: -2rem 0;
  }

  @media (--lg) {
    height: 64vw;
    background-size: 108%;
    background-image: url(./../assets/img/bg/nieuwsbrief2_100.webp);
    background-position: -4rem 8rem;
  }

  @media (--xl) {
    height: 65vw;
    background-size: 103%;
    background-image: url(./../assets/img/bg/nieuwsbrief1_100.webp);
    background-position: -3rem 25rem;
  }
}

.nieuwsbrief__article {
  display: flex;
  flex-flow: column;
  width: 29rem;
  height: 41rem;
  justify-content: space-between;
  align-items: center;

  @media (--md) {
    padding-bottom: 70vw;
  }

  @media (--lg) {
    margin-right: 5rem;
    padding-bottom: 57vw;
  }

  @media (--xl) {
    margin-right: 10rem;
    padding-bottom: 52vw;
  }
}

.email {
  width: 25rem;
  height: 5.5rem;
  border-bottom: .2rem solid var(--color-accent);
  background-color: var(--background-color);
  margin-bottom: 1rem;

  @media (--md) {
    height: 5.5rem;
    width: 34rem;
  }

  @media (--lg) {
    height: 5.5rem;
    width: 42rem;
  }

  @media (--xl) {
    height: 5.5rem;
    width: 51rem;
  }
}

input[type='text'] {
  border-style: ridge;
}

.nieuwsbrief__tekst {
  margin-left: 0;

  @media (--md) {
    padding-top: 2rem;
    margin-left: -2rem;
  }

  @media (--lg) {
    margin-left: -5rem;
  }

  @media (--xl) {
    margin-left: -7rem;
  }
}

.email:focus {
  outline: none;
}

.email__label {
  display: flex;
  flex-flow: column;
}

.nieuwsbrief__submit {
  outline: none;
  cursor: pointer;
  color: var(--background-color);
  border-bottom: .2rem solid var(--color-light);
  background-color: var(--color-accent);
  background-image: linear-gradient(120deg, #3e9798 0%, #3e9798 100%);
  background-repeat: no-repeat;
  background-size: 101% .2rem;
  background-position: 0 101%;
  transition: background-size .25s ease-in;
  width: 25rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (--md) {
    width: 34rem;
  }

  @media (--lg) {
    width: 42rem;
  }

  @media (--xl) {
    width: 51rem;
  }
}

.nieuwsbrief__submit:hover {
  color: var(--color-accent);
  background-color: var(--color-light);
  background-size: 101% 101%;
  border-bottom: .2rem solid var(--color-accent);
}

.email__label,
.submit {
  border: none;
  outline: none;
}

.nieuwsbrief__form {
  width: 30rem;

  @media (--md) {
    width: 34rem;
  }

  @media (--lg) {
    width: 42rem;
  }

  @media (--xl) {
    width: 51rem;
  }
}
/*-------PRAKTISCH--------*/

.bereikbaarheid {
  height: 30rem;
  width: 100vw;
  overflow: hidden;

  @media (--md) {
    height: 34rem;
  }

  @media (--lg) {
    height: 44rem;
  }

  @media (--xl) {
    height: 50rem;
  }
}

.bereikbaarheid__img {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (--md) {
    width: 100%;
    height: 34rem;
  }

  @media (--lg) {
    width: 100%;

    height: 44rem;
  }

  @media (--xl) {
    width: 100%;
    height: 50rem;
  }
}
