/* .load-more-container {
  min-height: 100px;

  ul {
    list-style-type: none;

    &::after {
      content: '';
      display: table;
      clear: both;
    }

    li {
      width: calc(25% - 10px);

      &:nth-child(1n + 5) {
        max-height: 0;
        opacity: 0;
        transition: .1s ease-in;
      }
    }
  }

  .load-more-btn {
    width: 150px;
    line-height: 40px;
    border-radius: 2px;
    margin: 0 auto;
    display: block;
    background-color: #219150;
    color: #fff;
    cursor: pointer;
    text-align: center;
    z-index: 1;
  }

  .load-more-btn:hover {
    background-color: red;
  }

  .loaded {
    display: none;
  }

  .load-more {
    display: none;

    &:checked ~ ul li:nth-child(1n + 5) {
      max-height: 999px;
      opacity: 1;
      transition: .2s ease-in;
    }

    &:checked ~ .load-more-btn {

      .loaded {
        display: block;
      }

      .unloaded {
        display: none;
      }
    }
  }
} */

.header__prog {
  position: absolute;
  top: 0;
  z-index: -1;
  overflow: hidden;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;

  @media (--sm) {
    height: 30rem;
    background-image: url(./../assets/img/bg/4_100.webp);
  }

  @media (--md) {
    height: 30rem;
    background-size: 104%;
    background-image: url(./../assets/img/bg/3_100.webp);
    background-position: -2rem 2rem;
  }

  @media (--lg) {
    height: 60rem;
    background-size: 104%;
    background-image: url(./../assets/img/bg/2_100.webp);
    background-position: -4rem -1rem;
  }

  @media (--xl) {
    height: 160rem;
    background-size: 104%;
    background-image: url(./../assets/img/bg/1_100.webp);
    background-position: -5rem -3rem;
  }
}

.header__programma {
  text-align: center;
}

.header__image {
  position: absolute;
  top: 0;
  z-index: -1;
  overflow: hidden;
}

/*---------------- FILTER ----------------*/

.filter {
  grid-area: filter;
  display: flex;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.filter_section {
  margin-top: 5rem;
  margin-bottom: 5rem;
  background-color: var(--primary-color);
}

.filter__group {
  padding-right: 5rem;
  overflow: hidden;
}

.checkbox,
.radiobutton {
  list-style: none;
}

.filter__li {
  display: inline;
}

.filter__titel {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.filter__label {
  flex: 1;
  float: left;
  display: inline-block;
  text-align: center;
  width: 14rem;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  color: var(--background-color);
  background-color: var(--primary-color);
  border: .2rem solid var(--primary-color);
  transition: all .1s ease-in-out;
  /* cursor: pointer; */
}

.filter__label:hover {
  cursor: pointer;
  color: var(--color-accent);
}

.filter__label::before {
  /* content: '\f067'; */
  content: '\f067';
  display: block;
  position: absolute;
  transition: transform .3s ease-in-out;
}

.filter__input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.filter__input[type='checkbox']:checked + label {
  background-color: var(--primary-color);
  color: var(--background-color);
  border: .2rem solid var(--color-light);
  transition: all .2s;
  /* overflow: hidden; */
}

.filter__input[type='checkbox']:focus + label {
  border: .2rem solid var(--color-accent);
  /* overflow: hidden; */
}

.filter__input[type='checkbox']:checked + label::before {
  content: '\f00c';
  display: block;
  position: absolute;
  transform: rotate(-360deg);
  transition: transform .3s ease-in-out;
  /* overflow: hidden; */
}

.filter__submit {
  flex: 1;
  outline: none;
  border-color: var(--primary-color);
  background-color: var(--primary-color);
  cursor: pointer;
}

.filter__submit:checked {
  background-color: var(--color-light);
}

/*-----------------RESULTATEN-----------------------*/

@media (width < 768px) {

  .programma {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      'header'
      'filter'
      'content';
  }

  .filter {
    flex-direction: column;
    max-width: 30rem;
    padding-left: 1rem;
  }

  .filter__group {
    padding-right: 0;
  }

  .filter__submit {
    margin: 1rem 0;
    flex-direction: row;
  }

  .radiobutton,
  .checkbox {
    display: flex;
    flex-flow: row wrap;
    width: 30rem;
  }

  .filter__label {
    width: 12.5rem;
  }
}

.header {
  grid-area: header;
}

.act__section {
  display: grid;
  grid-area: content;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 4rem;
  justify-self: space-between;

  @media (--xl) {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 4rem;
  }
}

.act__article {
  width: 31rem;
  height: 32rem;
}

.act_link {
  text-decoration: none;
}

.act__image {
  position: absolute;
  width: 31rem;
  height: 20rem;
  overflow: hidden;
  border-radius: .5rem;
  object-fit: cover;
  object-position: 50% 50%;
  z-index: -1;
}

.act-div__grid {
  display: grid;
  position: relative;
  grid-template-columns: 60% 1fr;
  grid-template-rows: 50% 8% 42%;
  grid-template-areas:
    '. .'
    '. datum'
    'info .';
  border-radius: .5rem;
  box-shadow: .5rem .5rem 2.5rem -.3rem rgba(214, 211, 214, .36);
  background:
    linear-gradient(
      191deg,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 0) 50%,
      #1c2745 50%
    );
}

.act__type {
  /* grid-area: type; */
  height: 5rem;
  width: 13rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-accent);
  margin-top: -.8rem;
  margin-left: 18.6rem; /*translateX/Y??*/
  position: absolute;
}

.act__datum {
  grid-area: datum;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
}

.act__info {
  display: grid;
  align-items: center;
  grid-area: info;
  width: 32rem;
  height: 28rem;
  grid-template-columns: 30rem;
  grid-template-rows: repeat(3, 3.6rem);
  grid-template-areas:
    'naam'
    'titel'
    'locatie';
  padding-left: 1rem;
  padding-top: 1rem;
  overflow: hidden;
}

.act__naam {
  grid-area: naam;
}

.act__titel {
  grid-area: titel;
}

.act__locatie {
  grid-area: locatie;
}

.act__kinderen {
  grid-area: kinderen;
}
