.header__prog {
  position: absolute;
  top: 6rem;
  z-index: -1;
  overflow: hidden;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;

  @media (--sm) {
    height: 30rem;
    background-image: url(./../assets/img/bg/4_100.webp);
  }

  @media (--md) {
    height: 30rem;
    background-size: 104%;
    background-image: url(./../assets/img/bg/3_100.webp);
    background-position: -2rem 2rem;
  }

  @media (--lg) {
    height: 70rem;
    top: 0;
    background-size: 104%;
    background-image: url(./../assets/img/bg/2_100.webp);
    background-position: -4rem -1rem;
  }

  @media (--xl) {
    height: 160rem;
    background-size: 104%;
    background-image: url(./../assets/img/bg/1_100.webp);
    background-position: -5rem -3rem;
  }
}

.header__programma {
  text-align: center;
  padding-top: 14rem;
  font-size: 6.2rem;

  @media (--md) {
    font-size: 6rem;
    padding-top: 12rem;
  }

  @media (--lg) {
    padding-top: 1rem;
  }

  @media (--xl) {
    font-size: 7rem;
    padding-top: 3rem;
  }
}

.header__program {
  height: 24rem;

  @media (--md) {
    height: 24rem;
  }

  @media (--lg) {
    height: 12rem;
  }

  @media (--xl) {
    height: 16rem;
  }
}

.header__image {
  position: absolute;
  top: 0;
  z-index: -1;
  overflow: hidden;
}

/*---------------- FILTER ----------------*/

.filter {
  grid-area: filter;
  display: flex;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;

  @media (--md) {
    display: grid;
    grid-template-columns: repeat(2, 45vw);
    grid-template-rows: 60% 40%;
    grid-template-areas:
      'toon enkel'
      'button button';
    justify-content: space-between;
  }

  @media (--lg) {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 100%;
    grid-template-areas: 'toon filter button';
  }

  @media (--xl) {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 100%;
    grid-template-areas: 'toon filter button';
  }
}

.toon {
  grid-area: toon;
  padding-right: 5rem;

  @media (--md) {
    grid-column: 1;
    grid-row: 1;
    padding-right: 3rem;
  }

  @media (--lg) {
    width: 35rem;
    padding-right: 5rem;
  }

  @media (--xl) {
    width: 35rem;
  }
}

.enkel {
  grid-area: enkel;
  padding-right: 5rem;

  @media (--md) {
    grid-column: 2;
    grid-row: 1;
    padding-right: 1rem;
  }

  @media (--lg) {
    width: 40rem;
  }
}

.filter__submit {
  grid-area: submit;
  grid-column: 2;
  grid-row: 1;
  width: 30rem;
  height: 5rem;
  outline: none;
  border-color: var(--primary-color);
  background-color: var(--color-light);
  cursor: pointer;
}

.filter__submit:active {
  background-color: var(--primary-color);
}

.filter__reset {
  grid-area: reset;
  grid-column: 2;
  grid-row: 2;
  color: var(--color-light);
  background-color: rgba(255, 253, 244, .1);
  margin-bottom: 1rem;
  width: 30rem;
  height: 5rem;
  outline: none;
  cursor: pointer;

  @media (--md) {
    order: 1;
  }

  @media (--lg) {
    order: 0;
  }
}

.filter__reset:active {
  background-color: rgba(255, 253, 244, 1);
  outline: none;
}

.filter__buttons {
  grid-area: button;
  display: flex;
  flex-flow: column;
  margin-top: 2rem;
  margin-bottom: 2rem;

  @media (--md) {
    grid-column: 1 / span 2;
    grid-row: 2;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-evenly;
  }

  @media (--lg) {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-end;
    grid-column: 3;
    grid-row: 1;
  }

  @media (--xl) {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-end;
    grid-column: 3;
    grid-row: 1;
  }
}

.filter__heading {
  @media (--sm) {
    color: var(--background-color);
    height: 6rem;
    padding-left: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (--md) {
    display: none;
  }
}

.filter__heading:hover {
  color: var(--color-accent);
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.nodropdown {
  display: none;
  position: absolute;
  z-index: 1;
}

.filter_section {
  margin-top: 5rem;
  margin-bottom: 5rem;
  background-color: var(--primary-color);
}

.filter__group {
  overflow: hidden;
}

.checkbox,
.radiobutton {
  list-style: none;
}

.filter__li {
  display: inline;
}

.filter__titel {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.filter__label {
  flex: 1;
  float: left;
  display: inline-block;
  text-align: left;
  width: 14rem;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  color: var(--background-color);
  background-color: var(--primary-color);
  border: .2rem solid var(--primary-color);
  transition: all .1s ease-in-out;
}

.filter__label:hover {
  cursor: pointer;
  color: var(--color-accent);
}

.filter__label::before {
  content: '\002B';
  display: inline-block;
  width: 2rem;
  will-change: transform;
  transition: transform .3s ease-in-out;
}

.filter__input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.filter__input[type='checkbox']:checked + label {
  background-color: var(--primary-color);
  color: var(--background-color);
  border: .2rem solid var(--color-light);
  transition: all .2s;
}

.filter__input[type='checkbox']:focus + label {
  border: .2rem solid var(--color-accent);
}

.checked {
  border: .2rem solid var(--color-light);
}

.filter__input[type='checkbox']:checked + label::before {
  content: '\2212';
  display: inline-block;
  will-change: transform;
  transform: rotate(-360deg);
  transition: transform .3s ease-in-out;
  width: 2rem;
}

/*-----------------RESULTATEN-----------------------*/

@media (width < 768px) {

  .programma {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      'header'
      'filter'
      'content';
  }

  .filter {
    flex-direction: column;
    max-width: 30rem;
    padding-left: 1rem;
  }

  .filter__group {
    padding-right: 0;
  }

  .filter__submit {
    margin: 1rem 0;
    flex-direction: row;
  }

  .radiobutton,
  .checkbox {
    display: flex;
    flex-flow: row wrap;
    width: 30rem;
  }

  .filter__label {
    width: 12.5rem;
  }
}

.header {
  grid-area: header;
}

.act__section {
  display: grid;
  grid-area: content;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 4rem;
  justify-self: space-between;
  padding-bottom: 2rem;

  @media (--md) {
    justify-self: center;
    grid-gap: 6rem 0;
  }

  @media (--xl) {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 4rem;
  }
}

.act__article {
  width: 31rem;
  height: 32rem;
}

.act_link {
  text-decoration: none;
}

/* .act__img {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 31rem;
  height: 30rem;
}

.act__image {
  display: block;
} */

.act__image {
  position: absolute;
  width: 31rem;
  height: 20rem;
  overflow: hidden;
  border-radius: .5rem;
  object-fit: cover;
  text-align: center;
  z-index: -1;
}

.act-div__grid {
  display: grid;
  position: relative;
  grid-template-columns: 60% 1fr;
  grid-template-rows: 18rem 2rem 12rem;
  grid-template-areas:
    '. .'
    '. datum'
    'info .';
  border-radius: .5rem;
  box-shadow: .5rem .5rem 2.5rem -.3rem rgba(214, 211, 214, .36);
  background:
    linear-gradient(
      188deg,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0) 27%,
      rgba(255, 255, 255, 0) 57%,
      #1c2745 50%
    );
}

.act__type {
  /* grid-area: type; */
  height: 5rem;
  width: 13rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -.8rem;
  /* background-color: var(--color-accent); */
  margin-left: 18.6rem; /*translateX/Y??*/
  position: absolute;
}

.voorstelling_color {
  background-color: var(--color-accent);
}

.straatact_color {
  background-color: var(--color-dark);
}

.activiteit_color {
  background-color: var(--color-red);
}

.act__datum {
  grid-area: datum;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
}

.act__info {
  display: grid;
  align-content: end;
  grid-area: info;
  width: 32rem;
  height: 12rem;
  grid-template-columns: 30rem;
  grid-template-rows: repeat(3, 3.6rem);
  grid-template-areas:
    'naam'
    'titel'
    'locatie';
  padding-left: 1rem;
  padding-top: 1rem;
  overflow: hidden;
}

.act__naam {
  grid-area: naam;
}

.act__titel {
  grid-area: titel;
}

.act__locatie {
  grid-area: locatie;
}

.act__kinderen {
  grid-area: kinderen;
}
