/*---------------- NAVIGATIE ----------------*/

.topbar {
  display: none;
  background: var(--primary-color);

  @media (--lg) {
    display: block;
  }
}

.topright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--background-color);
  background: var(--primary-color);
  height: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.header__bg {
  background-color: var(--background-color);
  box-shadow: 0 0 2rem 1rem rgba(0, 0, 0, .05);
  position: fixed;
  width: 100%;
  z-index: 1;
  top: -5px;

  @media (--lg) {
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 0 2rem 1rem rgba(0, 0, 0, 0);
    height: 10rem;
    position: relative;
    top: 0;
  }

  @media (--xl) {
    height: 10rem;
  }
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.burger__menu {
  background-color: var(--background-color);

  @media (--lg) {
    background-color: rgba(255, 255, 255, 0);
  }
}

.navigatie {
  height: 36.6rem;
  list-style-type: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  padding-bottom: 1rem;
  position: absolute;
  top: 0;
  left: 0;

  @media (--sm) {
    width: 100vw;
  }

  @media (--md) {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    height: 10rem;
    width: 100vw;
  }

  @media (--lg) {
    position: relative;
    left: 0;
    top: 0;
    width: 43rem;
    padding-top: 2rem;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0);
  }

  @media (--xl) {
    width: 64rem;
  }
}

.nav {
  color: var(--primary-color);
  text-decoration: none;
  text-transform: uppercase;

  @media (--sm) {
    font-size: 3.5rem;
  }

  @media (--md) {
    font-size: 2.7rem;
  }

  @media (--lg) {
    font-size: 2.8rem;
  }

  @media (--xl) {
    font-size: 3.5rem;
  }
}

.navi {
  color: var(--primary-color);
  text-decoration: none;
  text-transform: uppercase;
}

.nav:hover,
.navi:hover {
  color: var(--color-accent);
}

.active {
  border-bottom: .2rem var(--primary-color) solid;
}

.link {
  color: var(--background-color);
  text-decoration: none;
}

.link:visited {
  color: var(--color-light);
}

.link:active {
  text-decoration: underline;
}

.link:hover {
  color: var(--color-accent);
}

.social {
  background: var(--primary-color);
  display: flex;
  width: 10rem;
  justify-content: space-between;
  align-items: center;
}

.talen {
  display: flex;
  /* width: 7rem; */
  justify-content: space-between;
}

.taal {
  text-decoration: none;
  border-right: .1rem solid var(--background-color);
  padding-left: 1rem;
  padding-right: 1rem;
}

.taal:hover {
  color: var(--color-accent);
  cursor: pointer;
}

/*---------------- HAMBURGER ----------------*/

.burger__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger__titel {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.burger__h2 {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  border-left: .2rem solid var(--color-accent);
  padding-left: 1rem;
  margin-left: 1rem;
  margin-top: 2rem;
  height: 5rem;
}

.noklik {
  display: none;

  @media (--lg) {
    display: block;
  }
}

.klik {
  position: absolute;
  visibility: visible;
  top: 9rem;
  left: 0;
  height: 35rem;

  @media (--md) {
    width: 768px;
    left: 0;
    height: 10rem;
  }
}

.menu-icon {
  position: relative;
  width: 60px;
  height: 40px;
  cursor: pointer;

  @media (--lg) {
    display: none;
  }
}

.line {
  position: absolute;
  display: block;
  width: 100%;
  height: 6px;
  background-color: var(--primary-color);
  border-radius: 3px;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
  will-change: transform;
  transform-origin: 50% 50%;
  animation-fill-mode: both;
  animation-duration: .1s;
}

.line--second {
  top: calc(50% - (8px) / 2);
}

.line--third {
  top: calc(100% - (8px));
}

.menu-icon:hover .line {
  background-color: var(--color-light);
}

.menu-icon.forward .line {
  animation-name: forward-one;
}

.menu-icon.forward .line--second {
  animation-name: forward-two;
}

.menu-icon.forward .line--third {
  animation-name: forward-three;
}

.menu-icon.backward .line {
  animation-name: backward-one;
  animation-direction: reverse;
}

.menu-icon.backward .line--second {
  animation-name: backward-two;
}

.menu-icon.backward .line--third {
  animation-name: backward-three;
}

/*---------------- FOOTER ----------------*/

.footer {
  background-color: var(--primary-color);
  height: 100rem;

  @media (--md) {
    height: 60rem;
  }

  @media (--lg) {
    height: 60rem;
  }

  @media (--xl) {
    height: 70rem;
  }
}

.footer-content {
  display: flex;
  flex-flow: column;
  color: var(--background-color);
}

.sponsors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 28rem;

  @media (--md) {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }
}

.wrapper2 {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 60rem;
  @media (--md) {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }
}

.footer__link{
  display: none;
  
  @media (--md) {
    display: block;
    }
}
/*
.footer-content {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 10rem 1fr 20rem 20rem;

  grid-template-areas:
    ' . totop '
    ' sponsor sponsor '
    ' volg  . '
    ' contact .';

  color: var(--background-color);

  @media (--md) {
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: 10rem 20rem 20rem;

    grid-template-areas:
      '. . toptop'
      'sponsor sponsor sponsor'
      'link volg  contact';
  }

  @media (--lg) {
    grid-template-columns: 1fr repeat(3, 24rem) 1fr;
    grid-template-rows: 10rem 20rem 20rem;
    grid-template-areas:
      '. . toptop'
      'sponsor sponsor sponsor'
      'link volg contact';
    padding-right: 20rem;
    padding-left: 20rem;
  }

  @media (--xl) {
    padding-right: 20rem;
    padding-left: 20rem;
  }
}

.footer__link {
  grid-area: link;
  grid-column: 1;
  grid-row: 6;
  display: none;
  margin-top: 5rem;

  @media (--md) {
    grid-column: 1;
    grid-row: 3;
    display: block;
  }

  @media (--lg) {
    grid-column: 2;
    grid-row: 3;
    display: block;
  }
}

.footer__volg {
  grid-area: volg;
  grid-column: 1;
  grid-row: 4;
  margin-top: 5rem;

  @media (--md) {
    grid-column: 2;
    grid-row: 3;
  }

  @media (--lg) {
    grid-column: 3;
    grid-row: 3;
    padding-left: 7rem;
  }
}

.footer__contact {
  grid-area: contact;
  grid-column: 1;
  grid-row: 5;
  width: 20rem;
  margin-top: 5rem;

  @media (--md) {
    grid-column: 3;
    grid-row: 3;
  }

  @media (--lg) {
    grid-column: 4;
    grid-row: 3;
  }
}

.footer__sponsors {
  grid-area: sponsor;
  grid-column: 1 / 4;
  grid-row: 2 / 4;

  @media (--md) {
    width: 90%;
  }

  @media (--lg) {
    grid-column: 1 / 6;
    padding-left: 15rem;
    padding-right: 15rem;
  }

  @media (--xl) {
    padding-left: 0;
    padding-right: 0;
  }
}

.sponsors__titel {
  grid-area: titel;
  grid-column: 1 / span 2;
  grid-row: 1;
  align-self: center;
  text-align: center;

  @media (--md) {
    grid-column: 1 / span 4;
    grid-row: 1;
  }
}

.sponsors {
  grid-area: sponsors;
  display: flex;
  justify-content: space-between;
  justify-items: baseline;
  align-items: center;
  align-content: space-around;
  flex-wrap: wrap;
  margin-top: 5rem;
  height: 30rem;

  @media (--md) {
    align-items: start;
  }
}

.sponsor__image {
  width: 30vw;
  height: 15rem;

  @media (--md) {
    width: 30vw;
    height: 15rem;
  }

  @media (--lg) {
    width: 30vw;
    height: 15rem;
  }

  @media (--xl) {
    width: 30vw;
    height: 15rem;
  }
}

.een {
  grid-area: 1;
  grid-column: 1;
  grid-row: 1;
  text-align: left;

  @media (--md) {
    grid-column: 1;
    grid-row: 1;
    text-align: left;
  }
}

.twee {
  grid-area: 2;
  grid-column: 1;
  grid-row: 2;
  text-align: left;

  @media (--md) {
    grid-column: 2;
    grid-row: 1;
    text-align: left;
  }
}

.drie {
  grid-area: 3;
  grid-column: 2;
  grid-row: 2;
  text-align: right;

  @media (--md) {
    grid-column: 3;
    grid-row: 1;
    text-align: left;
  }
}

.vier {
  grid-area: 4;
  grid-column: 2;
  grid-row: 1;
  text-align: right;

  @media (--md) {
    grid-column: 4;
    grid-row: 1;
    text-align: left;
  }
}

.totop {
  grid-area: totop;
  grid-column: 2;
  grid-row: 1;
  padding-top: 2rem;
  text-align: center;

  @media (--md) {
    grid-column: 3;
    grid-row: 1;
  }

  @media (--lg) {
    grid-column: 4;
    grid-row: 1;
    padding-left: 24rem;
  }
} */

.totop__link {
  position: absolute;
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  border: .2rem solid var(--primary-color);
  padding-top: 1.5rem;
  color: var(--primary-color);
  text-align: center;
  background-color: var(--background-color);
  cursor: pointer;
}

.totop__link::before {
  content: '\2191';
  display: inline-block;
  height: 2rem;
}

.copyright {
  text-align: center;
  font-size: 1.3rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
