/*---------------- NAVIGATIE ----------------*/

.topbar {
  display: none;
  background: var(--primary-color);

  @media (--lg) {
    display: block;
  }
}

.topright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--background-color);
  background: var(--primary-color);
  height: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.header__bg {
  background-color: var(--background-color);
  box-shadow: 0 0 2rem 1rem rgba(0, 0, 0, .05);
  position: fixed;
  width: 100%;
  z-index: 1;
  top: -5px;

  @media (--lg) {
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 0 2rem 1rem rgba(0, 0, 0, 0);
    height: 10rem;
    position: relative;
    top: 0;
  }

  @media (--xl) {
    height: 10rem;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 5;
  }
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.burger__menu {
  background-color: var(--background-color);

  @media (--lg) {
    background-color: rgba(255, 255, 255, 0);
  }
}

.navigatie {
  height: 36.6rem;
  list-style-type: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  padding-bottom: 1rem;
  position: absolute;
  top: 0;
  left: 0;

  @media (--sm) {
    width: 100vw;
  }

  @media (--md) {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    height: 10rem;
    width: 100vw;
  }

  @media (--lg) {
    position: relative;
    left: 0;
    top: 0;
    width: 43rem;
    padding-top: 2rem;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0);
  }

  @media (--xl) {
    width: 64rem;
  }
}

.nav {
  color: var(--primary-color);
  text-decoration: none;
  text-transform: uppercase;

  @media (--sm) {
    font-size: 3.5rem;
  }

  @media (--md) {
    font-size: 2.7rem;
  }

  @media (--lg) {
    font-size: 2.8rem;
  }

  @media (--xl) {
    font-size: 3.5rem;
  }
}

.navi {
  color: var(--primary-color);
  text-decoration: none;
  text-transform: uppercase;
}

.nav:hover,
.navi:hover {
  color: var(--color-accent);
}

.active {
  border-bottom: .2rem var(--primary-color) solid;
}

.link {
  color: var(--background-color);
  text-decoration: none;
}

.link:visited {
  color: var(--color-light);
}

.link:active {
  text-decoration: underline;
}

.link:hover {
  color: var(--color-accent);
}

.social {
  background: var(--primary-color);
  display: flex;
  width: 10rem;
  justify-content: space-between;
  align-items: center;
}

.talen {
  display: flex;
  /* width: 7rem; */
  justify-content: space-between;
}

.taal {
  text-decoration: none;
  border-right: .1rem solid var(--background-color);
  padding-left: 1rem;
  padding-right: 1rem;
}

.taal:hover {
  color: var(--color-accent);
  cursor: pointer;
}

/*---------------- HAMBURGER ----------------*/

.burger__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger__titel {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.burger__h2 {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  border-left: .2rem solid var(--color-accent);
  padding-left: 1rem;
  margin-left: 1rem;
  margin-top: 2rem;
  height: 5rem;
}

.noklik {
  display: none;

  @media (--lg) {
    display: block;
  }
}

.klik {
  position: absolute;
  visibility: visible;
  top: 9rem;
  left: 0;
  height: 35rem;

  @media (--md) {
    width: 768px;
    left: 0;
    height: 10rem;
  }
}

.menu-icon {
  position: relative;
  width: 60px;
  height: 40px;
  cursor: pointer;

  @media (--lg) {
    display: none;
  }
}

.line {
  position: absolute;
  display: block;
  width: 100%;
  height: 6px;
  background-color: var(--primary-color);
  border-radius: 3px;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
  will-change: transform;
  transform-origin: 50% 50%;
  animation-fill-mode: both;
  animation-duration: .1s;
}

.line--second {
  top: calc(50% - (8px) / 2);
}

.line--third {
  top: calc(100% - (8px));
}

.menu-icon:hover .line {
  background-color: var(--color-light);
}

.menu-icon.forward .line {
  animation-name: forward-one;
}

.menu-icon.forward .line--second {
  animation-name: forward-two;
}

.menu-icon.forward .line--third {
  animation-name: forward-three;
}

.menu-icon.backward .line {
  animation-name: backward-one;
  animation-direction: reverse;
}

.menu-icon.backward .line--second {
  animation-name: backward-two;
}

.menu-icon.backward .line--third {
  animation-name: backward-three;
}

/*---------------- FOOTER ----------------*/

.footer {
  background-color: var(--primary-color);
  height: 90rem;

  @media (--md) {
    height: 60rem;
  }

  @media (--lg) {
    height: 60rem;
  }

  @media (--xl) {
    height: 70rem;
  }
}

.footer-content {
  display: flex;
  flex-flow: column;
  color: var(--background-color);
}

.sponsors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 28rem;
  margin-top: 2rem;

  @media (--md) {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 15rem;
    margin-top: 4rem;
  }
}

.wrapper1 {
  padding-top: 10rem;
  text-align: center;

  @media (--xl) {
    width: 80%;
    align-self: center;
  }
}

.wrapper2 {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 35rem;

  @media (--md) {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 95%;
    height: 20rem;
  }

  @media (--xl) {
    width: 80%;
    align-self: center;
  }
}

.footer__link {
  display: none;

  @media (--md) {
    display: block;
  }
}

.totop {
  text-align: right;
  padding-right: 5rem;
  padding-top: 1rem;
}

.totop__link {
  position: absolute;
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  border: .2rem solid var(--primary-color);
  padding-top: 1.5rem;
  color: var(--primary-color);
  text-align: center;
  background-color: var(--background-color);
  cursor: pointer;
}

.totop__link::before {
  content: '\2191';
  display: inline-block;
  height: 2rem;
}

.copyright {
  text-align: center;
  font-size: 1.3rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
