.wf-canoodle-n4-active .heading-1,
.wf-canoodle-n4-active .heading-2,
.wf-canoodle-n4-active .heading-3,
.wf-canoodle-n4-active .heading-4,
.wf-canoodle-n4-active .heading-5 {
  font-family: Canoodle, 'Arial Black', sans-serif;
}

.heading-1 {
  font-size: 3.2rem;
}

.heading-2 {
  font-size: 2.6rem;
}

.heading-3 {
  font-size: 2.4rem;
}

.heading-4 {
  font-size: 2.2rem;
}

.heading-5 {
  font-size: 2rem;
}

.wf-radikal-n4-active body {
  font-family: Radikal, Helvetica, sans-serif;
  font-style: normal;
  font-weight: lighter;
  color: var(--primary-color);
  font-size: 1.5rem;
  line-height: 1.6;
}

.body-groot {
  font-size: 1.8rem;
  font-family: Radikal, Helvetica, sans-serif;
  font-style: normal;
}

.body-klein {
  font-size: 1.3rem;
  color: var(--background-color);
  font-family: Radikal, Helvetica, sans-serif;
  font-style: normal;
  font-weight: lighter;
}

.strong {
  font-family: Radikal, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}

/*--------HOME----------*/

.cta__link {
  color: var(--background-color);
  text-decoration: none;
  text-transform: uppercase;
}

.nieuwsbrief__submit {
  font-family: Radikal, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: var(--background-color);
  font-size: 1.5rem;
  line-height: 1.6;
  text-transform: uppercase;
}

.familiedag__tekst {
  color: var(--background-color);
  line-height: 2.8rem;
  font-family: Radikal, Helvetica, sans-serif;
  font-style: normal;
  font-weight: lighter;
}
/*--------PROGRAMMA----------*/

.filter__titel {
  font-family: Canoodle, 'Arial Black', sans-serif;
  color: var(--background-color);
  font-size: 2.4rem;
}

.filter__submit {
  color: var(--background-color);
}

.act__type {
  color: var(--background-color);
}

.act__datum {
  color: var(--primary-color);
}

.act__naam {
  color: var(--color-light);
}

.act__titel {
  color: var(--background-color);
}

/*--------DETAIL----------*/

.detail__titel {
  color: var(--background-color);
}

.detail__link {
  text-decoration: none;
}

.praktisch__subtitel {
  color: var(--background-color);
  text-transform: uppercase;
  letter-spacing: .2rem;
}

.praktisch__tekst {
  color: var(--background-color);
}
