.wf-canoodle-n4-active .heading-1,
.wf-canoodle-n4-active .heading-2,
.wf-canoodle-n4-active .heading-3 {
  font-family: Canoodle, 'Arial Black', sans-serif;
  letter-spacing: 0;
}

.wf-radikal-n4-active body {
  font-family: Radikal, Helvetica, sans-serif;
  font-style: normal;
  font-weight: light;
}
