/* :root {
  --primary-color: #4d94fd;
  --accent-color: #ff4824;
  --black: #262a34;
  --dark-grey: #a3a3a3;
  --light-grey: #b8b8b8;
  --lightest-grey: #f1f2f2;
  --green-grey: #7c98a3;
} */
/* vervang deze naar eigen viewport units, afhankelijk van de geleverde screenshots. */

@custom-media --xs screen and (min-width: 0);
@custom-media --sm screen and (min-width: 20em); /* 320px */
@custom-media --md screen and (min-width: 48em); /* 768px */
@custom-media --lg screen and (min-width: 64em); /* 1024px */
@custom-media --xl screen and (min-width: 90em); /* 1440px */
