:root {
  --primary-color: #1c2745;
  --color-dark: #79c39d;
  --color-light: #3e9798;
  --color-accent: #e9bf4e;
  --background-color: #fefdfb;
  --color-red: #c92b29;
}

@custom-media --xs screen and (min-width: 0);
@custom-media --sm screen and (min-width: 20em); /* 320px */
@custom-media --md screen and (min-width: 48em); /* 768px */
@custom-media --lg screen and (min-width: 64em); /* 1024px */
@custom-media --xl screen and (min-width: 90em); /* 1440px */

/*-------DROPDOWN MENU--------*/
@keyframes forward-one {

  0% {
    top: 0;
    transform: rotate(0deg);
  }

  33% {
    top: calc(50% - (6px) / 2);
    transform: rotate(0deg);
  }

  100% {
    top: calc(50% - (6px) / 2);
    transform: rotate(45deg);
  }
}

@keyframes forward-two {

  0% {
    transform: scale(1);
  }

  33% {
    transform: scale(0);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes forward-three {

  0% {
    top: calc(100% - (6px));
    transform: rotate(0deg);
  }

  33% {
    top: calc(50% - (6px) / 2);
    transform: rotate(0deg);
  }

  100% {
    top: calc(50% - (6px) / 2);
    transform: rotate(135deg);
  }
}

@keyframes backward-one {

  0% {
    top: 0;
    transform: rotate(0deg);
  }

  33% {
    top: calc(50% - (6px) / 2);
    transform: rotate(0deg);
  }

  100% {
    top: calc(50% - (6px) / 2);
    transform: rotate(45deg);
  }
}

@keyframes backward-two {

  0% {
    transform: scale(1);
  }

  33% {
    transform: scale(0);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes backward-three {

  0% {
    top: calc(100% - (6px));
    transform: rotate(0deg);
  }

  33% {
    top: calc(50% - (6px) / 2);
    transform: rotate(0deg);
  }

  100% {
    top: calc(50% - (6px) / 2);
    transform: rotate(135deg);
  }
}
