:root {
  --primary-color: #1c2745;
  --color-dark: #79c39d;
  --color-light: #3e9798;
  --color-accent: #e9bf4e;
  --background-color: #fefdfb;
}

@custom-media --xs screen and (min-width: 0);
@custom-media --sm screen and (min-width: 20em); /* 320px */
@custom-media --md screen and (min-width: 48em); /* 768px */
@custom-media --lg screen and (min-width: 64em); /* 1024px */
@custom-media --xl screen and (min-width: 90em); /* 1440px */
