@import './css/reset.css';
@import './css/vars.css';
@import './css/typography.css';
@import './css/site-header.css';
@import './css/home.css';
@import './css/programma.css';
@import './css/detail.css';

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

/* stylelint-disable */

*,
*::before,
*::after {
  box-sizing: inherit;
}
/* stylelint-enable */

body {
  background: var(--background-color);
}

/*---------------- MEDIAQUERIES ----------------*/

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 32rem; /* px gedeeld door 10 */
  padding-left: 1rem;
  padding-right: 1rem;

  @media (--sm) {
    margin: 0 auto;
  }

  @media (--md) {
    max-width: 76.8rem;
  }

  @media (--lg) {
    max-width: 102.4rem;
  }

  @media (--xl) {
    max-width: 144rem;
  }
}

.hidden {
  display: none;
}

.show {
  display: visible;
}

.underline {
  text-decoration: underline;
}

.accent {
  color: var(--color-accent);
}
/*---------------- BUTTONS ----------------*/
