@import './css/reset.css';
@import './css/vars.css';
@import './css/typography.css';
@import './css/site-header.css';
@import './css/home.css';
@import './css/programma.css';
@import './css/detail.css';

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

/* stylelint-disable */

*,
*::before,
*::after {
  box-sizing: inherit;
}
/* stylelint-enable */

body {
  background: var(--background-color);
}

/*---------------- MEDIAQUERIES ----------------*/

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 32rem; /* px gedeeld door 10 */
  padding-left: 1rem;
  padding-right: 1rem;

  @media (--sm) {
    margin: 0 auto;
  }

  @media (--md) {
    max-width: 76.8rem;
  }

  @media (--lg) {
    max-width: 102.4rem;
  }

  @media (--xl) {
    max-width: 144rem;
  }
}

.hidden {
  display: none;
}

.show {
  display: visible;
}

.underline {
  text-decoration: underline;
}

.accent {
  color: var(--color-accent);
}

.cta {
  width: 14rem;
  height: 4rem;
  background-color: var(--color-accent);
  display: flex;
  justify-content: center;
  align-items: center;
}

.underline--magical {
  background-image: linear-gradient(120deg, #fefdfb 0%, #fefdfb 100%);
  background-repeat: no-repeat;
  background-size: 101% .02em;
  background-position: 0 101%;
  transition: background-size .25s ease-in-out;
  width: 14rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.underline--magical:hover {
  background-size: 100% 101%;
  color: var(--color-accent);
  border-bottom: .2rem solid var(--color-accent);
}
/*---------------- BUTTONS ----------------*/
